/* Universal Styles
====================*/

* {
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	color: seashell;/* acceptable, but HEX codes are preferred IMO */
	background-color: black;/* samsies */
	opacity: 0.9;
	text-align: center;
}
main {
	margin: 0;
	padding: 0;
	display: block;/* minor:  main is block by default, and also assigned in normalize.css */
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.17rem;
}

h5 {
	font-size: 0.83rem;
}


/* Navigation Bar
====================*/

.navigation {
	height: 3.14rem;
	width: 100%;/* acceptable, but also do:: left: 0, right: 0, iirc */
	border-bottom: 1px solid seashell;
	position: fixed;
	z-index: 1;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin: 0;
}
.logo img { /* minor: maybe just add a class directly to the image, rather than a slightly more specific targetting */
	height: 2.27rem;
	padding: 0;
	margin-left: 0.46rem;
}

nav a {
	text-decoration: underline;
	display: inline-block;
	padding-left: 0.91rem;
	margin-right: 0.46rem;
}

.navigation .icon { /* not used? */
	display: none;
}

/* Main Content
====================*/

main {
	position: relative;
	top: 3.14rem;
	/* width: 54.545rem; */
	margin-bottom: 3.636rem;
}

/* Mission Statement Section */

.banner {
	height: 31.818rem;
	max-width: 54.545rem;
	margin: 0 auto;
	display: flex;
	background: url(./images/img-mission-background.jpg) center center no-repeat;
	background-size: cover;
}

.mission-statement {
	width: 54.545rem;
	margin: auto;
	opacity: 1;
}

.mission-statement h2 {
	margin-top: 0.46rem;
}

.mission-statement h4 {
	margin-bottom: 0.46rem;
}

/* "Tea of the Month" Section*/

.tea {
	max-width: 1000px; /* what's this for? */
	margin: 0 auto;
	padding-top: 1.818rem;
	padding-bottom: 65px;
}

.tea h4 {
	margin-bottom: 0.227rem;
}

.image-container { /* minor: in a larger project, this would probably want a slightly more descriptive name, unless ALL images share the same specs */
	max-height: 9.091rem;
	max-width: 13.636rem;
	display: inline-block;
	margin: 0 0.46rem;
	padding-top: 1.136rem;
}

.image-container img {
	width: 100%;
	height: auto;
}

figcaption {
	font-weight: bold;
	text-align: center;
	padding-top: 0.46rem;
}

/* Locations Section */

.locations {
	height: 22.727rem;
	max-width: 1200px; /* same question */
	margin: 0 auto;
	padding-top: 3.409rem;
	background: url(./images/img-locations-background.jpg) no-repeat center;
	background-size: cover;
}

.locations h2 {
	background: none;
	margin: 0;
	padding-bottom: 0.682rem;
}

.location-container {
	display: inline-block;
	width: 13.636rem;
	height: auto;
	margin: 0.682rem 0.909rem;
	opacity: 1;
}

.location-container span {
	display: block;
	margin: 1.818rem auto 1.364rem;
}

/* Contact Section */

.contact-info {
	height: 9.091rem;
}

.contact-info h2 {
	margin: 0.455rem auto 1.818rem;
}

/* Footer
====================*/

footer h5 {
	text-align: left;
	margin: 0;
	margin-left: 0.909rem;
	/*
	typically this wouldn't be applied to a text element,
	or at least not what you have. better to add padding to the parent
	footer. It's not wrong, just try to avoid adding padding to text elements
	when it's only for visual spacing. unless they're lists.
	*/
	padding-bottom: 1.364rem;
}

@media only screen and (max-width: 1032px) {/* 1032px is non standard? */
	.locations {
		height: 700px;
	}
}

@media only screen and (max-width: 768px) {
	.mission-statement h4 {
		font-size: 0.83rem;
	}

	.locations {
		height: 1050px;
	}

@media only screen and (max-width: 600px) { /* same */
	.logo {
		display: none;
	}

	nav {
		display: flex;
	}
